td.money-display:after {
  display: inline;
  content: "€";
}

div.money-display {
  .form-control:after {
    content: "€";
  }
}

/** CUSTOM USER TEMPLATES **/
.user {
  &_infos {
    margin-top: 40px;
  }
}