{% extends '@EasyAdmin/default/show.html.twig' %}

{% block main %}
  {{ parent() }}

  {#{% for order in entity.orders %}#}
  {#{{ order }}#}
  {#{% endfor %}#}

  <div>
    {{ render(controller('App\\Controller\\User\\UserController::availableCopies', {'user': entity})) }}
  </div>
{% endblock main %}