{% extends 'base.html.twig' %}
{% block stylesheets %}
TU METS TES CSS ICI
{% endblock %}

{% block body %}
  <body>
    TU MET TON CONTENU ICI
  </body>
{% endblock %}

{% block javascripts %}
  METS TES JS ICI
{% endblock %}